@import 'original'
@import 'sp'
//font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')
$textcolor: #444444
$buttonblack: #2A2A2A
$linkblue: #03A9F4
@import 'ui'

body
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
  "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic","Open Sans", "メイリオ", Meiryo, sans-serif
  font-size: 16px
  letter-spacing: 1.5px
  line-height: 26px
  word-wrap: break-word
  @include max-screen($breakpoint-md)
      font-size: 28px
      letter-spacing: 1.5px
      line-height: 38px
  color: $textcolor
  box-sizing: border-box
#main a
  color: $linkblue
  text-decoration: underline

#main
  padding: 10px
  margin: auto
  font-weight: 200
#main
  h1,h2,h3,h4,h5

#main h2
  text-align: center
h1
  font-weight: 600
  font-family: 'Avenir Next', 'Open Sans', sans-serif
  font-size: 64px
  letter-spacing: 0.12px
  line-height: 68px
  @include max-screen($breakpoint-md)
    font-size: 80px
    letter-spacing: 0.12px
    line-height: 68px
h2
  font-weight: 400
  font-size: 28px
  letter-spacing: 5px
  @include max-screen($breakpoint-md)
    font-size: 38px
  margin: 50px 0
h3
  font-weight: 600
  font-size: 20px
  letter-spacing: 1.5px
  @include max-screen($breakpoint-md)
    font-size: 30px
  margin: 30px 0

h4
  font-size: 18px
  letter-spacing: 1.5px
  font-weight: 600
  margin: 30px 0
  @include max-screen($breakpoint-md)
    font-size: 26px
h5
  font-size: 18px
  letter-spacing: 1.5px
  font-weight: 300
  margin: 30px 0
  @include max-screen($breakpoint-md)
    font-size: 28px
#main figure
  max-height: 320px
  padding: 10px
#main figure>img
  width: 100%
  max-height: 300px
  object-fit: scale-down

#main table
  border-collapse: collapse
  text-align: center
  vertical-align: middle
  border: 2px solid $buttonblack
  margin: 20px auto
#main table th
  border: 1px solid $buttonblack
#main table td
  border: 1px solid $buttonblack
  max-width: 130px
  padding: 5px 10px
#main table .time
  font-size: 14px
  font-family: 'Avenir Next', 'Open Sans', sans-serif
#main table td.classidx
  padding: 0
#main table td.lecturer
  min-height: 50px
  height: 50px

#main div.container-text
  max-width: 720px
  margin: 0 auto

a.titlelogo p
  margin-bottom: 0
  line-height: 1.2em
  font-weight: 600
  letter-spacing: 1.5px
  font-size: 16px
  @include max-screen($breakpoint-md)
    font-size: 28px
  font-family: 'Avenir Next', 'Open Sans', sans-serif
nav.navbar
  height: 125px
  padding: 0
.navbar-collapse
  background-color: #fff
  padding: 10px 0
nav.navbar .navbar-nav
  display: flex
  justify-content: space-between
  max-width: 800px
  width: 100%
  padding-left: 15px
  @include max-screen($breakpoint-md)
    padding-left: 0px

nav.navbar .navbar-nav .nav-item
  height: 45px
  text-align: center
  letter-spacing: 0.1rem
  display: flex
  padding: 0
  margin: 10px 0
nav.navbar .navbar-nav .nav-item .nav-link
  padding: 0
  margin: auto

nav.navbar .navbar-nav .ticket
  background-color: $buttonblack
  color: #fff
  border-radius: 4px
  width: 140px
  height: 45px
  margin-left: 20px
  @include max-screen($breakpoint-md)
    margin-left: auto
    margin-right: auto

.navbar-light .navbar-nav .ticket>.nav-link
  color: #fff

nav.navbar .navbar-nav .ticket:hover
  background-color: #fff
  border: solid 1px $buttonblack

nav.navbar .navbar-nav .ticket:hover>.nav-link
    color: $buttonblack


footer .nav
  font-weight: 300
  font-size: 11pt

footer .nav-link
  padding: 10px 0
  margin-right: 35px
footer #footer1
  padding: 30px 0
footer #footer1 #langbutton
  font-weight: 600
  letter-spacing: 0.05rem
footer #langbutton .nav-link
  margin-left: auto
  margin-right: 0
footer #footer2
  font-size: 14px
  @include max-screen($breakpoint-md)
    font-size: 20px
  letter-spacing: 1.5px

footer #footer3
