@import 'original'
@import 'ui'
//font
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600')
body
  font-family: "Hiragino Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN W3", HiraKakuProN-W3,
  "ヒラギノ角ゴ ProN", "Hiragino Kaku Gothic ProN",
  "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", Osaka, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic","Open Sans", "メイリオ", Meiryo, sans-serif

#main h1,#main h2
  text-align: center
#main h1
  font-weight: 600
  font-size: 22pt
  letter-spacing: 0.7rem
#main h2
  font-weight: 400

a.titlelogo p
  margin-bottom: 0
  line-height: 1.2em
  font-weight: 600
  letter-spacing: 0.1rem
  font-size: 1.3rem
  font-family: 'Avenir Next', 'Open Sans', sans-serif

nav.navbar
  height: 125px
  padding: 0

nav.navbar .navbar-nav .nav-item
  height: 45px
  text-align: center
  letter-spacing: 0.1rem
  display: flex
nav.navbar .navbar-nav .nav-item .nav-link
  padding: 0 20px
  margin: auto


nav.navbar .navbar-nav .ticket
  background-color: #000
  color: #fff
  border-radius: 5px
  width: 145px
  height: 45px
  margin-left: 20px


.navbar-light .navbar-nav .ticket>.nav-link
  color: #fff
  font-weight: 200
  letter-spacing: 0.2rem

footer .nav
  font-weight: 300
  font-size: 11pt

footer .nav-link
  padding: 10px 0
  margin-right: 35px
footer #footer1
  padding: 30px 0
footer #footer1 #langbutton
  font-weight: 600
  letter-spacing: 0.05rem
footer #langbutton .nav-link
  margin-left: auto
  margin-right: 0
footer #footer2
  font-size: 9.5pt
  letter-spacing: 0.05rem

footer #footer3
  font-size: 9.5pt
  letter-spacing: 0.1rem
